* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-image: url('../assets/images/form-img.jpg'); 
    background-size: cover;        
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-position: center;   
    }

.form-container {
    border-radius: 10px;
    width: 75%;
    margin: 40px auto;
    display: flex;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.signupDiv {
    border-radius: 10px 0 0 10px;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0047AB;
    background: linear-gradient(160deg, #001f3f, #182162, #00509d, #03a6bc, #00509d, #182162, #001f3f);
    color: white;
    padding: 30px;
}

.alreadyHave {
    border-radius: 20px;
    background-color: white;
    padding: 10px 15px;
    color: #0047AB;
}

.alreadyHave:hover {
    box-shadow: 0 0 4px white;
}

.alreadyHave a {
    text-decoration: none;
    font-weight: bold;
    color: #0047AB;
}

.continueWithout a {
    color: white;
}

form {
    border-radius: 0 10px 10px 0;
    background-color: white;
    flex: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    color: #0047AB;
}

input {
    width: 80%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #397edf;
    box-shadow: 0px 0px 8px #397edf;
}

label {
    width: 80%;
    margin-top: 10px;
    font-weight: bold;
    color: #0047AB;
}

button {
    width: 80%; 
    padding: 12px 14px;
    margin: 15px 0 10px;
    color: #fff;  
    background-color: #0047AB;         
    font-size: 14px;
    border: none;                
    border-radius: 4px;          
    cursor: pointer;             
    text-align: center;          
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
  
button:hover {
    box-shadow: 0 0 4px #397edf; 
}
  
button:active {
    transform: translateY(2px);  
}

.error-message {
    width: 80%;
    text-align: center;
    color: red;
    margin: 0;
    font-size: 11.5px;
}


@media only screen and (max-width: 630px) {
    .form-container {
        width: 80%;
        flex-direction: column;
    }

    .signupDiv {
        order: 2;
        border-radius: 0 0 10px 10px;
    }

    form {
        order: 1;
        border-radius: 10px 10px 0 0;
    }
}


@media only screen and (min-width: 631px) and (max-width: 780px) {
    .form-container {
        flex-direction: column;
    }

    .signupDiv {
        border-radius: 10px 10px 0 0;
    }

    form {
        border-radius: 0 0 10px 10px;
    }
}
